.face-x {
    margin: 50px 0 0 50px;
    height: 400px;
    width: 400px;
    background-image: radial-gradient(#ffef34, #ffc514);

    border-radius: 50%;
    position: relative;
}
.zuiba-x{
    height: 70px;
    width: 70px;

    border-radius: 60%;
    box-shadow: inset 3px 3px 0 0 #000;
    transform: rotate(225deg);

    position: absolute;
    left:165px;
    top:200px;

}

.zuoyan-x{
    height: 70px;
    width: 50px;
    background-color: #492f12;
    border-radius: 50%;
    position: absolute;
    left:105px;
    top:150px;
}

.youyan-x{
    height: 70px;
    width: 50px;
    background-color: #492f12;
    border-radius: 50%;
    position: absolute;
    left:240px;
    top:150px;
}
.zuoyan-x:after{
    content: '';
    height: 10px;
    width: 12px;
    background-color: #ffffff;
    border-radius: 50%;
    display: block;
    position: absolute;
    left:18px;
    top:25px;
}
.youyan-x:after{
    content: '';
    height: 10px;
    width: 12px;
    background-color: #ffffff;
    border-radius: 50%;
    display: block;
    position: absolute;
    left:18px;
    top:25px;
}
.meimao1-x{
    height: 40px;
    width: 50px;

    border-radius: 50%;
    box-shadow: inset 4px 4px 0 0 #000;
    transform: rotate(225deg);

    position: absolute;
    left:108px;
    top:88px;

    animation: meimao11 1s linear infinite;
}

.meimao2-x{
    height: 40px;
    width: 50px;

    border-radius: 70%;
    box-shadow: inset 4px 4px 0 0 #000;
    transform: rotate(215deg);

    position: absolute;
    left:238px;
    top:88px;

    animation: meimao12 1s linear infinite ;
}

@keyframes meimao11 {
    0%{
        transform:  rotate(225deg)
    }
    50%{
        transform:  rotate(265deg)
    }
    100%{
        transform:  rotate(225deg)
    }
}
@keyframes meimao12 {
    0%{
        transform:  rotate(215deg)
    }
    50%{
        transform:  rotate(175deg)
    }
    100%{
        transform:  rotate(225deg)
    }
}